@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.aboutImg {
    width: 100%;
}

.bannerCard {
    position: relative;
}
.bannerImg {
    width: 100%;
    max-width: 100%;
    height:600px;
    object-fit: cover;
}
.bannerText {
    position: absolute;
    top: 100px;
    left: 7%;
    color: white;
    padding: 10px;
}
.bannerCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 440px;
}
.fonth5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.fonth2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.fonth4 {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: start;
}

.happycontainer {
    padding: 80px 0px 150px 0px;
}

.happycontainersub {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 200px;
}

.happysub1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.happyBoldText {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    color: #252b42;
    letter-spacing: 0.2px;
}

.happySmallText {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #737373;
    letter-spacing: 0.1px;
}

.wedocontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 150px;
}

.wedoBoldText {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #252b42;
    letter-spacing: 0.1px;
}

.wedoSmallText {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #252b42;
    letter-spacing: 0.2px;
}

.videoControls {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.videoplayerControls {
    width: 100%;
}

.missionContainer {
    margin-top: 20px;
    margin-bottom: 150px;
    width: 100%;
    max-height: 450px;
    display: flex;
}

.ourmission1 {
    width: 32%;
}

.ourmissionmenus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 20px 60px 30px;
}

.ourmission3 {
    width: 68%;
}

.vertiline {
    height: auto;
    width: 1px;
    border: 1px;
    background-color: #252b42;
}

.missionblue {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #23a6f0;
    letter-spacing: 0.2px;
}

.missionsmall {
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #252b42;
    letter-spacing: 0.1px;
}

.ourmissionright {
    font-family: 'Montserrat', sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-align: start;
    z-index: 1;
}

.missionrightContainer {
    display: flex;
    width: 56%;
    height: 243px;
    padding: 120px 0px 0px 0px;
    margin-left: 10%;
}

.imageposi {
    position: absolute;
    top: -60px;
    right:0;
}

.imagegirl {
    width: 315px;
    height: 216px;

}
.imageposi2 {
    position: absolute;   
    right: -50px;
    bottom: 0px;
  
}
.tab-content{
    border-left: 1px solid #252b42;
    padding:80px;
    padding-right: 0;
    min-height: 400px;
    z-index: 99;
    position: relative;
}
.imagegirl2 {
    width: 171px;
    height: 159px;
}

.nav-pills .nav-link{
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #252b42;
    letter-spacing: 0.1px;
}
.nav-pills .nav-link.active {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #23a6f0!important;
    letter-spacing: 0.2px;
    background-color: transparent!important;
}
.tab-container{
    margin-bottom: 150px;
}
.tab-container .container{
    max-width: 75%!important;
}
.nav-pills{
    flex-direction: column;
}
@media (max-width:991px){
    .bannerImg {
        width: 100%;
        max-width: 100%;
        height: 500px;
    }
    .nav-pills{
        flex-direction: row;
        z-index: 1;
        position: relative;
    }
    .nav-pills .nav-link {
        font-size: 18px;
        line-height: 1;
    }
    .nav-pills .nav-link.active{
        font-size: 18px;
        line-height: 1;
    }
    .imageposi {
        position: absolute;
        top: -150px;
        right: 0px;
    }
    .imageposi2 {
        right: 0;
    }
    .imagegirl {
        width: 150px;
        height: 150px;
    }
    .tab-content {
        border-top: 1px solid #252b42;
        border-left: 0;
        padding: 40px 0;
        margin-top: 20px;
    
    }
    .videoControls,
    .tab-container .container {
        max-width: calc(100% - 20px)!important;
        width: 100%;
    }
    .ourmissionright{
        font-size: 18px;
    }
    .fonth4 {
        font-size: 18px;
        line-height: 28px;
    }
    .fonth2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 38px
    }
    .imagegirl{
        display: none;
    }
    .imageposi2{
        position: relative;
        text-align: center;
    }
    .imageposi2 img{
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }
    .tab-container,
    .wedocontainer{
        margin-bottom: 50px;
    }
    .tab-content{
        min-height: auto;
    }
}

@media (max-width:560px){
    .bannerCont{
        width: 100%;
        max-width: 100%;
    }
    .bannerText {
        position: absolute;
        top: 70px;
        left: 0px;
        padding: 20px;
    }
    .videoControls{
        height: 300px;
    }
}