@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.footercontainer {
    background-color: #edf8ff;
    padding: 48px 80px 48px 80px;
}

.footerline {
    background-color: #dddddd;
    border: 0;
    height: 1px;
    margin-bottom: 20px;
}

.footerline2 {
    background-color: #dddddd;
    border: 0;
    height: 1px;
    margin-top: 20px;
}

.footerthooni {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.thoonibody {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.thoonihead {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.exploremenus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.exploremenutexts {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color:#252B42;
}
.exploremenutextsNolink{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color:#252B42;
    text-decoration: none;
}
.sociallinks {
    display: flex;
    gap: 4px;
}

.socialmedia {
    width: 25px;
}

.reserved {
    display: flex;
    flex-direction: column;
}

.reservedtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.headcont {
    margin: 20px;
}

.headtxt {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.line{
    margin: 0;
    border: 0;
    height: 1px;
    background: #333;
}

.pointer{
    cursor: pointer;
}

@media (max-width:991px){
    .footercontainer {
        background-color: #edf8ff;
        padding: 48px 20px;
    }
}
@media (max-width:991px){
    .footerthooni {
        margin-top: 15px;
    }
    .footerthooni .exploremenus{
    flex-direction: row;
}

}
@media (max-width:560px){
    .footer-nav{
        flex-direction: column!important;
      
    }
}
