@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

.accordTitle {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.accordContent {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
@media (max-width:992px){
.accordTitle {
    font-size: 18px;
    text-align: left;
}
}