.floating-button {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 1;
}

.floating-button button {
    width: 100px;
    height: 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.floating-button img{
    width: 50px;
    position: relative;
    top:-1px;
}
.floating-button a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    background-color: #00a200;
    color: #fff;
    border-radius: 20px;
    padding: 8px 20px 8px 0;
    opacity: 1;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}