@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.subHeader {
    padding: 12px 80px 12px 80px;
}

.logoContainer {
    width: 100%;
    display: flex;
}

.logo {
    width: 30px;
}

.navalignment {
    display: flex;
    justify-content: flex-end;
}

.navtext {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
}

.navalignment2 {
    display: flex;
    justify-content: flex-end;
    gap: 14px
}
