@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.subHeader {
    padding: 12px 80px 12px 80px;
}

.logoContainer {
    width: 100%;
    display: flex;
}

.logo {
    width: 45px;
    height: 45px;
}

.navalignment {
    display: flex;
    justify-content: flex-end;
}

.navtext {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}
.brand-name{
    font-size:20px;
    font-weight: 800;
    text-transform: uppercase;
}
.navalignment2 {
    display: flex;
    justify-content: flex-end;
    gap: 14px
}

.navItemActive{
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    cursor: pointer;
    color: #252B42;
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav a{
    margin-left:14px;
}
.navbar .container{
    max-width: 100%;
    padding: 0;
}
.navbar-toggler{
    border: 0!important;
}
.navbar-toggler:focus{
    box-shadow: none!important;
    outline: none!important;
}
@media (max-width:991px){
    .navalignment2{
        width: 100%;
        display: block;
    }
    .navbar-nav a{
        margin-left: 0;
    }
    .navtext{
        text-align: center;
        display: block;
        margin: 8px 0;
        width: 100%;
    }
    .subHeader {
        padding: 4px 15px;
    }
}