.subHeader {
    padding: 12px 80px 12px 80px;
}

.logoContainer {
    width: 100%;
    display: flex;
}

.logo {
    width: 30px;
}

.navalignment {
    display: flex;
    justify-content: flex-end;
}

.navtext {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    text-decoration-line: none;
}

.navalignment2 {
    display: flex;
    justify-content: flex-end;
    gap: 14px
}
