@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.heroimg {
    background-color: #9eeaed;
    width: 100%;
    border-radius: 8px;
}
.overflow-hidden{
    overflow: hidden;
}
.herocontainer {
    width: 100%;

    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
    border-radius: 8px;
}

.h1imageContainer {
    position: absolute;
    right: 110px;
}

.h2imageContainer {
    position: absolute;
    right: 110px;
}

/* Carousel.css */
.carousel-caption {
    position: absolute;
    left: 7% !important;
    top: 18%;
    text-align: left;
    /* color: #fff;
    text-shadow: 1px 1px 2px #000; */
}
/* .carousel-control-next {
    right: -50px !important;
}
.carousel-control-prev {
    left: -50px !important;
} */
.carousel-inner {
    overflow: visible !important;
}
.blueheading {
    font-family: "Montserrat", sans-serif;
    color: #2a7cc7;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.boldheading {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: start;
    margin: 0px 112px 0px 0px;
}

.smallsubheading {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: start;
}

.howworkcontainer {
    /* margin: 40px 0px 0px 175px; */
    padding: 40px 0px 0px 135px;
    width: 740px;
}

.subhowworkcontainer {
    margin-left: 20px !important;
}

.HowItWorkImg {
    /* width: 100%; */
    width: 550px;
    /* height: 610px; */
}
.numbandtext {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    margin-top: 60px;
}
.boldblacktext {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: start;
}
.smallblacktext {
    font-family: "Montserrat", sans-serif;
    color: #737373;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: start;
}
.textandtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.blueandtext {
    font-family: "Montserrat", sans-serif;
    color: #23a6f0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}
.subhowworkcontainer1 {
    margin-left: 20px !important;
}

.headinghow1 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
}

.headinghow2 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}

.downloadContainer {
    width: 100%;
    background-color: #edf8ff;
    height: 390px;
    padding: 40px;
    display: flex;
}

.downloadleftContainer {
    width: 60%;
}
.downloadrightContainer {
    width: 40%;
}
.phonestyle {
    height: 350px;
}
.phonestyle1 {
    height: 380px;
}
.downloadText {
    margin: 30px 70px 0px 118px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.downloadbluetxt {
    font-family: "Montserrat", sans-serif;
    color: #2a7cc7;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
}

.downloadblacktxt {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: left;
    width: 738px;
}

.stylishContainer {
    width: 100%;
    background-color: #edf8ff;
    /* height: 390px; */
    padding: 50px 80px 0;
    display: flex;
    flex-direction: column;
}

.stylishMen {
    max-width: 440px;
    -height: 500px;
    width: 100%;
}
.stylishWoMen {
    max-width: 300px;
   height: 500px;
    width: 100%;
}
.stylishContainer1 {
    width: 100%;
    display: flex;
    align-items: center;
}
.stylishleftContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
}
.stylishrightContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.stylishgrpText {
   
    text-align: left;
    margin:0;
    margin-bottom: 30px;
}
.styleimgcontainer{
    margin-bottom: 50px;
}
.stylishtxt1 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
}
.stylishtxt2 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}

.stylishtxt3 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: left;

}

.styleimgcontainer {
    position: relative;
    /* max-width: 800px;
    margin: 0 auto; */
}
.styleimgcontainer img{
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    object-position: top;
}
.styleimgcontainer .styleimgcontent {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: #252b42;
    min-width: 40%;
    padding: 6px;
}

.stylishrightContainer1 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.stylishrightContainer2 {
    width: 30%;
}
.stylishrightContainer3 {
    width: 30%;
    display: flex;
    align-items: center;
}

.accesoriestxt {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
}

.comingContainer {
    width: 100%;
    /* height: 390px; */
    padding: 80px 0px 0px 150px;
    display: flex;
}
.comingText {
    /* margin: 70px 150px 0px 120px; */
    margin: 0px 10px 0px 120px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}
.soonText {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: left;
}

.soonTexth3 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
}

.soonTexth6 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}

.soonTextspan {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: start;
}

/* Banner.css */
.Custbanner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.Custbanner-image {
    /* width: 100%; */
    width: 450px;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
}
.customer-img{
    position: relative;
}
.customer-img::before{
    border: 1px solid #23a6f0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    left: 15px;
    top: 15px;
    position: absolute;
    border-radius: 8px;
}
.Custtext-container {
    padding: 40px 0px 0px 80px;
}

.Custtitle {
    font-size: 24px;
    font-weight: bold;
}

.Custparagraph {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: start;
}
.CustName {
    text-align: start;
}
.CustRating {
    text-align: start;
}

.CustDetails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.Heartxt1 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.Heartxt2 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.Heartxt3 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.faq1 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.faq0 {
    padding: 50px 120px;
}
.faq2 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.faq3 {
    font-family: "Montserrat", sans-serif;
    color: #252b42;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: start;
}
.caption{
    position: absolute;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
    
}
.heroimage-widget{
    height: 620px;
}
.how-it-work-info{
    padding:0 50px;
}
.tesimonial-main{
    width: 100%;
    padding: 0 80px;
}
.testimonial-section{
    width: 100%;
    padding:60px 0px 0px 80px;
     background:#EDF8FF;
     height:350px;
     margin-Top:25px;
}
.testimonal-btn{
    margin-top: 10px;
    float:right;
    display:flex;
    gap:12px;
}
.btn.btn-primary{
    background-color: rgb(35, 166, 240);
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    max-width: none;
    min-width: 235px;
}
.btn.btn-primary:hover{
    background-color: #252b42;
}
.btn-primary.btn-sm{
    min-width: auto;
    padding: 14px 40px;
}
@media (max-width:1380px){
    .downloadblacktxt {       
        font-size: 36px;       
        width: 650px;
    }
}
@media (max-width:1199px){
    .heroimage-widget{
        height: 400px;
    }
    .h2imageContainer,
    .h1imageContainer{
        height: 400px;
    }
    .h2imageContainer {
        right: 40px;      
    }
    .boldheading {  
        font-size: 30px;
        line-height: 35px;
        margin: 0px 0px 0px 0px;
    }
    .caption{
        top:0;
    }
    .HowItWorkImg {
     width: 400px;
    }
    .how-it-work-info {
       padding: 0;
    }
    .subhowworkcontainer {
        margin-left:0px !important;
    }
    .phonestyle1 {
        height: 300px;
    }
    .Custbanner-image {
        max-width: 300px;
        max-height: 200px;
    }
    .Custtext-container {
        padding: 0px 0px 0px 60px;
    }
    .tesimonial-main{  
        padding: 0 30px;
    }
}
@media (max-width:992px){
    .h1imageContainer {   
        right: 0px;
    }
    .h2imageContainer,
    .h1imageContainer{
        height: 350px;
    }
    .smallsubheading{
        font-size: 16px;
        line-height: 1.5;
    }
    .boldheading {
        font-size: 25px;
        line-height: 30px;
    }
    .herocontainer{
        border-radius: 0;
    }
    .HowItWorkImg {
        width: 300px;
        margin-bottom: 50px;
    }
    .numbandtext {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        margin-top: 30px;
    }
    .downloadText {
        margin: 0px 0px 0px 0px;
    }
    .downloadblacktxt {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    max-width: 700px;
    }
    .stylishContainer{
        padding: 40px 20px 0;
    }
    .styleimgcontainer {
        margin-bottom: 30px;
    }
    .styleimgcontainer img {
        height: 350px;
        max-width: 400px;
        margin: 0px 0;
       
    }
    .comingContainer {
        width: 100%;
        /* height: 390px; */
        padding: 0px 20px 0px 20px;
        display: block;
    }
    .downloadrightContainer {
        width: 100%;
    }
    .comingText{
        text-align: center;
    }
    .downloadleftContainer{
        width:100%;
        margin:30px auto 0; 
    }
    .soonText { 
        font-size: 28px;
      
    }
    .soonTextspan, .Heartxt2,
    .soonTexth3 {
        font-size: 18px;
    }
    .Heartxt1 {
        font-size: 20px;
        padding: 0px 15px ;
    }
    .Heartxt2{
        padding: 0px 15px;
    }
    .tesimonial-main{  
        padding: 0 0px;
    }
    .testimonial-section{
        padding: 50px 20px;
        height: auto;
    }
    .customer-img {
        position: relative;
        max-width: 300px;
        margin: auto;
    }
    .Custbanner{
        display: block;
    }
    .Custtext-container {
        padding:40px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
    .comingText{
        margin-left: 0;;
    }
    .soonTextspan{
        width: 100%!important;
    }
    .phonestyle1 {
        height: auto;
        width: 100%;
    }
    .testimonal-btn{     
        margin-right: 20px;        
    }
    .how-it-work-info{
        position: relative;
        left: -60px;
    }
    .faq0 {
        padding: 50px 20px;
    }
  
}
@media (max-width:767px){
    .blueheading {
        font-size: 14px;
    }
    .h2imageContainer, .h1imageContainer {
        height: 230px;
        top:50px;
        right:0px
        
    }
    .h1imageContainer {
        width: 200px;
        height:auto;
        top:42px
    }
    .heroimage-widget {
        height: 280px;
    }
    .caption{
        width: 80%;
    }
    .caption .btn{
        display: none!important;
    }
    .smallsubheading {
        font-size: 12px;
    }
    .boldheading {
        font-size: 18px;
        line-height: 22px;
    }
    .carousel-control-next, .carousel-control-prev{
        display: none!important;
    }
    .carousel-caption{
        left: 20px!important;
    }
    .downloadContainer {
        padding:0px;
        align-items: end;
        height: auto;
    }
    .downloadText {
        margin: 0px;
        padding:40px 20px;
    }
    .phonestyle {
        width: 100%;
        height: auto;
    }
    .downloadblacktxt {
        font-size: 20px;
        line-height: 1.2;
        width: 100%;
        max-width: 700px;
    }
    .how-it-work-info{    
        left: inherit;
    }
    .stylishrightContainer{
        display: block;
    }
    .stylishgrpText{
        margin-bottom: 30px;
    }
    .faq3,
    .stylishtxt3 {
          font-size: 16px;      
        line-height: 24px;    
    }
    .Custparagraph {
        font-size: 18px;
    }
    .faq2{
        text-align: justify;
    }
}

@media (max-width:580px){
    .blueheading {
        font-size: 12px;
    }
    .downloadContainer{
        display: block;
    }
    .downloadleftContainer,
    .downloadrightContainer{
        width: 100%;
    }
    .customer-img {   
        max-width: 250px;      
    }
    .Custbanner-image {
        max-width:250px;
    }
}